@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.gradient-custom {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

body,
button {
  font-family: 'Poppins', sans-serif;
}

button {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
